body {
    background-color: #000;
}

.container {
    margin: 20px;
}

.container .static-comic {
    margin: auto;
    max-width: 1000px;
    position: relative;
}

.container .static-comic img {
    width: 100%;
}

.container .static-comic .overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container .static-comic .overlay-container
.icon {
    display: block;
    width: 36px;
    position: absolute;
    top: 2px;
    right: -38px;
}

.container .static-comic .overlay-container
.icon-bg {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 0px;
    right: -40px;
    background-color: white;
    opacity: 0.4;
    border-radius: 6px;
}


.link-box {
    position: absolute;
    text-decoration: none;
}
.link-box a {
    display: block;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px dashed #999;
}

.link-box.link-box-white a {
    border-bottom: 4px dashed #fff;
}


.link-box .description {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-family: fantasy;
    border-radius: 0 0 6px 6px;
}

.container .static-comic .overlay-container .cutout {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 1000px;
    width: 40%;
    height: 75%;
}

.icon-container {
    position: absolute;
    top: 40%;
    left: 0;
    padding-left: 10px;
    overflow: hidden;
}

.icon-container .floating-icon {
    position: relative;
    left: -36px;
    background-image: url('../icons/video.png');
    background-size: 64px;
    border: 1px dashed #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
}

.icon-container .floating-icon:hover {
    left: -6px;
}

.floating-icon.icon-book {
    background-image: url('../icons/book.png');
}
