body {
    background-color: #000;
}

.container {
    margin: 20px;
}

.container .static-comic {
    margin: auto;
    max-width: 1000px;
    position: relative;
}

.container .static-comic img {
    width: 100%;
}

.container .static-comic .overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .static-comic .overlay-container
.icon {
    display: block;
    width: 36px;
    position: absolute;
    top: 2px;
    right: -38px;
}

.container .static-comic .overlay-container
.icon-bg {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 0px;
    right: -40px;
    background-color: white;
    opacity: 0.4;
    border-radius: 6px;
}


.link-box {
    position: absolute;
    text-decoration: none;
}
.link-box a {
    display: block;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px dashed #999;
}

.link-box.link-box-white a {
    border-bottom: 4px dashed #fff;
}


.link-box .description {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-family: fantasy;
    border-radius: 0 0 6px 6px;
}
